## Terraform ###

#Local .terraform directories
**/.terraform/*

#.tfstate files
*.tfstate
*.tfstate.*

#Chave SSH DEV
*./env/Dev/ambienteDEV
*./env/Dev/ambienteDEV.pub

#Chave SSH PROD
*./env/Dev/ambienteProducao
*./env/Prod/ambienteProducao.dev
